<!doctype html>

<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />

        <title>QuestBoard</title>

        <link rel="stylesheet" href="/static/css/style.css" />
    </head>

    <body>
        <header>
            <h1>🎮 QuestBoard</h1>

            <p>Projetos: {{.Stats.Projects}}</p>

            <p>Quests: {{.Stats.Cards}}</p>

            <p>Concluídas: {{.Stats.Done}}</p>

            <p>⭐ XP Total: {{.Stats.XP}}</p>
        </header>

        <main>
            <section class="add-card">
                <h2>Novo Projeto</h2>

                <form action="/projects" method="POST">
                    <input
                        type="text"
                        name="name"
                        placeholder="Nome do projeto"
                        required
                    />

                    <button type="submit">Criar Projeto</button>
                </form>
            </section>

            <section>
                <h2>Projetos</h2>

                {{range .Projects}}

                <div class="card">
                    <h3>
                        <a href="/project?id={{.ID}}"> {{.Name}} </a>
                    </h3>

                    <p>📋 {{len .Cards}} quests</p>

                    <p>📈 {{.Progress}}%</p>

                    <progress value="{{.Progress}}" max="100"></progress>

                    <form action="/projects/delete" method="POST">
                        <input
                            type="hidden"
                            name="project_id"
                            value="{{.ID}}"
                        />

                        <button>Excluir</button>
                    </form>
                </div>

                {{else}}

                <p>Nenhum projeto ainda</p>

                {{end}}
            </section>
        </main>
    </body>
</html>
