<!doctype html>

<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />

        <title>QuestBoard</title>
    </head>

    <body>
        <h1>QuestBoard</h1>

        <section>
            <h2>Novo Projeto</h2>

            <form action="/projects" method="POST">
                <input
                    type="text"
                    name="name"
                    placeholder="Nome do Projeto"
                    required
                />

                <button type="submit">Criar Projeto</button>
            </form>
        </section>

        <hr />

        <h2>Projetos</h2>

        {{if .}} {{range .}}

        <div>
            <h3>
                <a href="/project?id={{.ID}}"> {{.Name}} </a>
            </h3>

            <p>Cards: {{len .Cards}}</p>

            <p>XP: {{.XP}}</p>

            <p>Level: {{.Level}} — {{.Rank}}</p>

            <p>{{.Progress}}%</p>

            <progress value="{{.Progress}}" max="100"></progress>
        </div>

        <hr />

        {{end}} {{else}}

        <p>Nenhum projeto criado.</p>

        {{end}}
    </body>
</html>
